$nav-background: #282c34;

nav {
    background-color: $dark-shade;
    padding: 2px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    color: $primary-color;
    margin-right: 25px;
}

nav li img {
    border: 2px solid $light-accent;
    background-color: $light-shade;
    padding: 3px;
}

nav a,
nav a:visited {
    text-decoration: none;
    font-size: 22px;
    color: $light-accent;
}

nav a:hover {
    color: $dark-accent;
}