@import '../../styles/palette.scss';
// auth
.auth {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.auth-left, .auth-right {
    height: 100vh;
    width: 50vw;
}
.auth-left {
    background-color: $dark-shade;
    color: $light-shade;
    font-size: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.auth-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-form {
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.signin-form {
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.auth-btn-cont {
    margin-top: 1em;
    width: 30vw;
    text-align: right;
}