@import '../../styles/palette.scss';
// auth
.sign-up, .sign-in {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-box {
    margin: 0 auto;
    height: 60vh;
    width: 30vw;
    display: flex;
    text-align: center;
}
.auth-input {
    height: 8vh;
    width: 25vw;
    text-align: center;
}
.auth-button {
    color: $light-accent;
}
