@import '../../styles/palette.scss';
// auth
.auth-box {
    margin: 0 auto;
    height: 60vh;
    width: 30vw;
    text-align: center;
}
.auth-input {
    height: 8vh;
    width: 25vw;
    text-align: center;
}
.auth-button {
    color: $light-accent;
}